* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Home page */
body {
  background: url("./images/home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-container {
  background-color: #2e56e0;
  width: 60%;
  max-width: 1200px;
  padding: 1.2rem;
  margin: 10% auto;
  text-align: center;
  border-radius: 30px;
  color: #f8f8f8;
}

.home-footer {
  background-color: #1e3163;
  color: #f8f8f8;
  width: 40%;
  margin: 10% auto;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
}

/* Hotels Page*/
.hotelTitle {
  text-align: center;
  padding: 10px;
}

/* Filter table */
.container.grid-2 {
  width: 50%;
  color: #fefefe;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: left;
  border-radius: 30px;
  background: linear-gradient(90deg, rgb(86, 74, 202) 0%, rgba(73,63,252,1) 100%);
}

.column-1 {
  display: flex;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

column-2 {
  padding: 0.1rem;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #4ad9e4;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;
  
}
.btn:hover {
  background-color: #fff;
}
/* .search_section {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 60%;
  display: block;
  margin: 0 auto;
  background: linear-gradient(90deg, rgb(86, 74, 202) 0%, rgba(73,63,252,1) 100%);
  text-align: center;
  margin-top: 1.2rem;
  color: #fefefe;
} */

.searchBar {
  display: block;
  text-align: center;
  width: 60%;
  margin: 10px auto ;
  padding: 10px;
  border-radius: 20px;
}
.hotels {
  background-color: #2e56e0;
  width: 60%;
  padding: 1.2rem;
  margin: 2% auto;
  text-align: center;
  border-radius: 30px;
  color: #f8f8f8;
}

.fa-water,
.fa-dumbell,
.fa-spa,
.fa-briefcase {
  padding: 1rem;
  margin-right: 2px;
}


/*.hotel-img {
  background-image: url(../css/images/hotel1.jpeg);
} */

/* Single Hote */
.singleHotels {
  background-color: #4468e4;
  width: 60%;
  margin: 10% auto;
  padding: 1.2rem;
  text-align: center;
  border-radius: 10px;
  color: #fefefe;

}


.container.grid-3 {
  width: 100%;
  color: #000000;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  display: grid;
  padding: 0.5rem;
  text-align: left;
  border-radius: 30px;
  
}
.Type-title {
  color: #fefefe;
}
.hotelCol-1 {
  margin-right: 1.5rem;
}
.hotelCol-2 {
  margin-right: 1.5rem;
}

.reserv-btn {
  margin-left: 60%;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #4ad9e4;
  border-radius: 8px;
}

.reserv-btn:hover {
  background-color: #fff;
  color: #4ad9e4;
}

/* Login Section */
.container {
  text-align: center;
  color: #000;
  margin: 100px auto 0 auto;
  background-color: #4468e4;
  border-radius: 30px;
  padding: 1.5rem;
  width: 40%;
}

.container > header {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 60px auto;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: hidden;
}

.header-headings {
  display: flex;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.header-headings > span {
  margin: 2px 0;
}

.header-headings.sign-in {
  transform: translateY(-5px);
}

.header-headings.sign-up {
  transform: translateY(-40px);
}

.container > ul {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 0 auto;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: visible;
}
.options {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  width: 350px;
}

.options > li {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.options > li:hover {
  opacity: 1;
}

.options > li.active {
  opacity: 1;
}

.options > li:nth-of-type(2) {
  margin-left: 15px;
}

.options > li:last-of-type {
  margin-left: auto;
}

.account-form {
  display: inline-block;
  flex-direction: column;
  margin-top: 30px;
}

.account-form-fields {
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-form-fields.sign-in {
  max-height: 123px;
}

.account-form-fields.sign-up {
  max-height: 350px;
}

.account-form-fields > input {
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #000;
  border-radius: 5px;
  background-color: #f3f3f3;
}

.account-form-fields > input::placeholder {
  color: #cecece;
}

.account-form-fields > input::-webkit-input-placeholder {
  color: #cecece;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #cecece;
}

.account-form-fields > input:focus {
  outline: none;
}

.btn-submit-form {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  background: #4ad9e4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  margin: 1.2rem auto;
  width: 50%;
}

.btn-submit-form:hover {
  background: #f8f8f8;
  color: #000;
}

.btn-submit-form:active,
.btn-submit-form:focus {
  outline: none;
  background: #2e56e0;
}


@media only screen and (max-width: 600px) {
  .container.grid-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 2fr;
    grid-template-areas: 
    "addon-hotel"
    "reserv-btn";
    align-items: center;
    justify-content: center;
  } 
 
}
